* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  html {
    background: rgb(203, 229, 241);
    min-height: 720px;
    min-width: 320px;
  }
  
  html,
  body {
    height: 100%;
  }
  
  #root {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }
  
  .Stocks {
    background: #003B70;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    max-width: 615px;
    padding-bottom: 66px;
    text-align: center;
    width: 30%;
  }
  .Stocks > .logo {
    max-width: 90%;
  }
  .Stocks > .form {
    margin-bottom: 10px;
    margin-top: 11px;
  }
  
  .input-group {
    margin-bottom: 26px;
  }
  .input-group:nth-last-child(-n + 2) {
    margin-bottom: 60px;
  }
  .input-group > label,
  .input-group > input {
    font-family: 'Roboto', sans-serif;
    max-width: 420px;
    text-align: left;
    width: 80%;
  }
  .input-group > label {
    color: #ffffff;
    display: inline-block;
    margin-bottom: 5px;
    /* text-transform: uppercase; */
  }
  .input-group > input {
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    color: #676767;
    font-size: 16px;
    height: 40px;
    outline: 0;
    padding: 0 15px;
    transition: all 0.3s;
  }
  .input-group > input:focus {
    background: #fff;
    border-color: #c4c4c4;
  }
  .input-group > input::placeholder {
    color: #c4c4c4;
    font-size: 16px;
  }
  
  button {
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    max-width: 420px;
    outline: 0;
    padding: 10px 0;
    transition: background 0.3s;
    width: 80%;
    margin: 20px;
  }
  button.primary {
    background: #23bd49;
  }
  button.primary:hover {
    background: #5ac5d3;
  }
   
  button.Add {
    background: #23bd49;
  }
  button.Add:hover {
    background: #5ac5d3;
  }
  button.Remove {
    background: #8d8d8d;
  }
  button.Remove:hover {
    background: #5ac5d3;
  }

  button.Status {
    background: #d08c0e;
  }
  button.Status:hover {
    background: #5ac5d3;
  }
 